small {
  font-size: 75%;
}

.container
{
  width: 360px;
  padding-right: 0;
  padding-left: 0;
}
.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel-primary
{
  border: 0;
}

.panel-primary > .panel-heading
{
  background-color: #71cd9d;
  border: 0;
}

.panel
{
  margin-bottom: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: scroll;
  height: 250px;
}

.btn-login
{
  background-color: #71cd9d !important;
  border: 0 !important;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.1);  
}

.header-login{
  margin-bottom: 14px;
  padding: 4px;
  text-align: center;
  border-radius: 7px;
  border-bottom: 3px solid #7FB699;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

